www.dragonslibrary.xyz {
    auto_https off
    redir http://{host}{uri}
}

dragonslibrary.xyz {
    auto_https off
    root * /usr/share/caddy
    file_server

    handle_errors {
        rewrite 404 /404.html
        file_server
    }
}


