www.dragonslibrary.xyz {
    redir https://{host}{uri}
}

dragonslibrary.xyz {
    auto_https disable_redirects
    root * /usr/share/caddy
    file_server

    handle_errors {
        rewrite 404 /404.html
        file_server
    }
}


