---
import "../styles/global.css"
const { title = "Dragon's Library" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <title>{title}</title>
  </head>
  <body>
    <div class="page">
      <header>
        <h1>📚 Dragon’s Library</h1>
      </header>

      <main>
        <slot />
      </main>

      <footer>
        <p>© 2025 Dragon's Library. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>

