---
---

<footer>
    <p>Copyright © 2025 Dragon's Library. All rights resserved.</p>
</footer>

<style>
    footer {
        text-align: center;
        padding: 1rem;
        display: flex;
        font-size: 0.9rem;
        color: #b8c0e0;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
